[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.show-scope-demo.ng-scope,
.show-scope-demo .ng-scope {
    border: 1px solid red;
    margin: 3px;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}
.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}